:root {

    --game-card-width: 100px;
    /* --game-card-height: calc(var(--game-card-width) * (4/3)); */

    --trash-card-width: calc(var(--game-card-width) * .7);
    /* --trash-card-height: calc(var(--trash-card-width) * (4/3)); */
}

* {
    touch-action: manipulation;
    -webkit-user-select: none;
}
body {
    /* font-family: Arial, sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    background-color: whitesmoke;
}
#app {
}
#app .inner{
    /* max-width: 95vw; */
    margin: 5vh auto;
    /* width: 100vw;
    width: 100vh;

    max-width: 375px;
    max-height: 637px; */

    /* overflow: hidden; */
} 

.input-modal{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    margin-top: 0;
    text-align: center;
}
.player-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.player-input input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.player-input button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
}
.add-button, .start-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;

    background-color: #3498db;
    color: #fff;
}
.start-button {
    background-color: #2ecc71;
    color: #fff;
}
/* ---------------------------------------- */
#gameArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100vh;
    margin: auto;
    max-width: 375px;
    max-height: 637px;
    /* border: 1px solid black;
    border-radius: 15px; */
    display: grid;
    grid-template-rows: calc(55% - 5px) calc(45% - 5px);
    align-content: space-between;
    overflow: hidden;
    box-sizing: border-box;

}

#gameArea > * {
    /* display: block; */
    width: 95%;
    box-sizing: border-box;
    margin: 0 auto;
    
}




.gameCard{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    
    width: var(--game-card-width);
    /* height: var(--game-card-height); */
    aspect-ratio: 3/4;

    /* border: 1px solid black; */


    /* box-shadow: calc(10% * 5px) calc(10% * 5px) 5px rgba(0, 0, 0, 0.3); */
    

    transition: all 0.3s ease-in-out;

    
    border-radius: 8%;
    border: 1px solid black;
    box-sizing: border-box;

    background-color: lightgrey;

    

    
}

.gameCard .card-back-img,
.gameCard .card-front{
    border: 1px solid black;
    border-radius: 8%;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    
    overflow: hidden;
}



.gameCard .card-back-img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.gameCard .card-front{
    position: relative;
    container-type: inline-size;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 20% 50% 30%;
    align-content: space-between;

    
}

.gameCard .card-front > *{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    position: relative;

    font-size: 17cqw;
    margin: auto;

}

.gameCard .card-front .gameCard-top-block span{
    display: block;
    margin: auto;
    width: 75%;
}

.gameCard .card-front .gameCard-middle-block{
    /* height: calc(100% - 2px); */
    overflow: hidden;
    display: block;
    height: 100%;
    position: relative;
}

.gameCard .card-front .gameCard-middle-block::before,
.gameCard .card-front .gameCard-middle-block::after{
    content: '';
    display: block;
    
    width: 100%;
    height: 1px;

    background-color: black;

    position: absolute;
    top: 0%;
    left: 0%;

    z-index: 100;
}

.gameCard .card-front .gameCard-middle-block::after{
    top: unset;
    bottom: 0;
}

.gameCard .card-front .gameCard-middle-block img{
    max-width: unset;
    max-height: unset;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    height: calc(100% + 2px);

    
}

/* ----------------------------------------------------- */

#gameArea .main-area .main-grid{
    height: 100%;
    /* overflow: hidden; */
}

#gameArea .main-area .main-grid > *{
    /* container-type: inline-size; */
    height: calc(100% - 30px);
    
}

#gameArea .main-area .trash-area{
    position: relative;
    background-color: burlywood;

    padding: 10px;

    border-color: grey;
    border-width: 5px;
    border-style: solid;

    border-radius: 8px;

    height: calc(100% - 30px);
}

#gameArea .main-area .trash-area h3{
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.2;

    font-size: .9em;
}

#gameArea .main-area .main-trash-area{
    border-bottom-right-radius: 0;
    overflow: hidden;
}



#gameArea .main-area .main-trash-area .food-trash-container{
    display: grid;
    grid-template-columns: repeat(2,48.5%);
    justify-content: space-between;
}

#gameArea .main-area .trash-area .food-trash-container .card-block{
    position: relative;
    margin-bottom: 7.5px;
    
    /* text-align: center; */

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


#gameArea .main-area .trash-area .gameCard{
    margin: auto 0;
    width: 50px;
}

#gameArea .main-area .trash-area .food-trash-container .card-block .food-remain{
    font-size: .75em;
    text-wrap: nowrap;
}

#gameArea .main-area .main-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* text-align: center; */

    height: 100% !important;
}

#gameArea .main-area .main-info .draw-pile-area .gameCard{
    margin: 10px auto;
}

/* ----------------------------------------------------- */

#gameArea .main-area .main-info .drawn-card-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    width: var(--game-card-width);
    /* height: var(--game-card-height); */
    aspect-ratio: 3 / 4;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;

    transform-style: preserve-3d;
}

#gameArea .main-area .main-info .drawn-card-container .gameCard{
    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;
    box-sizing: border-box;
}

#gameArea .main-area .main-info .drawn-card-container .gameCard:last-child{
    transform: rotateY(-180deg);
}

/* ----------------------------------------------------- */

#gameArea .main-area .main-info .other-trash-area{
    height: calc(60% - 40px) !important;

    width: calc(100% - -5px);
    transform: translateX(-25px);

    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#gameArea .main-area .main-info .other-trash-area h3{
    height: calc(15% - 5px);
    margin-bottom: unset;

    display: flex;
    align-items: center;
    justify-content: center;
}

#gameArea .main-area .main-info .other-trash-area .other-trash-area-container{
    position: relative;
    height: calc(85% - 5px);
    width: 100%;
    margin: auto auto 0;
}

#gameArea .main-area .main-info .other-trash-area .other-trash-area-container .gameCard{
    position: absolute;
}
/* ----------------------------------------------------- */
#gameArea .player::after{
    content: '';
    display: block;
    width: 150%;
    height: 150%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: black;
    
    
    opacity: 0;
    pointer-events: none;

    transition: all .75s;
}

#gameArea .player.mask-layer::after{
    opacity: .5;
}

#gameArea .player .main-grid .babies-info {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-gap: 10px;

    /* overflow: hidden; */
}

#gameArea .player .main-grid .baby-item {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-width: 2.5px;
    border-style: dashed;
    aspect-ratio: 1/1;
}

#gameArea .player .main-grid .baby-item .baby-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    height: 80px;
    max-height: 85%;
    aspect-ratio: 4/5;
}

#gameArea .player .main-grid .baby-item .babbaby-grown-img-containeriner{
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1;
}

#gameArea .player .main-grid .baby-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gameArea .player .main-grid .baby-item .baby-food-counter {
    position: absolute;
    bottom: 0;
    right: 3px;

    font-size: 90%;
}

#gameArea .player .main-grid .baby-item .blocking-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    height: auto;
}

/* ----------------------------------------------------- */

#gameArea .player .player-info{
    position: relative;
}

#gameArea .player .player-info .player-name {
    text-align: center;
}

#gameArea .player .player-info .player-img {
    width: 90%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    margin: 15px auto;
}

#gameArea .player .player-info .king-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gameArea .player .player-info .player-food {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    gap: 7.5px;
    text-align: center;

    font-size: 75%;
}

#gameArea .player .player-info .player-food img{
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

#gameArea .player .bottom-section{
    position: relative;
    display: grid;
    grid-template-columns: calc(80% - 10px) calc(20% - 10px);
    justify-content: space-between;
    align-items: center;

    height: 100px;
}

#gameArea .player .bottom-section > * {
    height: 100%; /* Ensure each child takes the full height */
}



#gameArea .player .gameCard-container{
    display: block;
    margin: auto;

    
    position: relative;

    height: 100%;

    
}

#gameArea .player .gameCard{
    position: absolute;

    left: 0%;
    /* height: calc(100% - 2px); */
}

#gameArea .player .bottom-section .info-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gameArea .player .bottom-section .info-area .eye-circle{
    display: flex;
    width: 20px;
    aspect-ratio: 1;

    align-items: center;
    justify-content: center;

    
    border: 2px solid black;
    border-radius: 50%;
}

#gameArea .player .bottom-section .info-area .eye-circle i{
    font-size: 15px;
}

#gameArea .action-buttons-container{
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 150%);

    display: grid;
    grid-template-columns: repeat(3, 31%);
    justify-content: space-between;

    width: 85%;
    margin: auto;
    z-index: 9;

    transition: all 0.5s;
  }

#gameArea button{
    container-type: inline-size;
    background-color: #FFAC1C; /* Green background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 2.5px 0;
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    font-size: .9em; /* Increase font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 4px; /* Add rounded corners */

    transition: all 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    
}

#gameArea .player .action-buttons-container button span{
    font-size: 15cqw;
}

#gameArea button.disable-button {
    background-color: #ccc; /* Gray background for disabled state */
    color: #666; /* Dark gray text for disabled state */
    cursor: not-allowed; /* Change cursor to not-allowed */
    pointer-events: none; /* Disable all pointer events */
}


/* ------------------------------------------------------- */
.warning-container{
    container-type: inline-size;
    position: absolute;
    display: block;
    width: calc(100% + 26px);
    /* width: 100%; */
    height: 130%;
    z-index: 10;
    top: calc(50% + 10px);
    left: calc(50%);
    transform: translateX(-50%) translateY(-50%);
    transition: opacity .3s ease-in-out;
}

.warning-container .warning-text-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-weight: bold;
    font-size: 8cqw;
    width: 100%;
    text-align: center;

    z-index: 20;
}

.warning-container .warning-text-variable{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);

    color: white;
    font-weight: bold;
    font-size: 4.5cqw;
    width: 50%;
    height: 80%;
    text-align: center;

    z-index: 20;

    display: grid;
    align-content: space-between;
}

.warning-container .warning-bg{
    display: block;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: black;

    z-index: 15;
}

/* ------------------------------------------------------------------------ */
html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

#gameArea .top-block{
    box-sizing: border-box;
    
    
    /* overflow: hidden; */

    display: grid;
    grid-template-columns: calc(70% - 5px) calc(30% - 5px);
    justify-content: space-between;
}

#gameArea .top-block .other-player-container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(4, 23%);
    align-content: space-between;
    height: 100%;
}

#gameArea .top-block .other-player{
    position: relative;

    display: grid;
    grid-template-columns: 50% 45%;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    /* background-color: blue; */

    overflow: hidden;
    padding: 5px;

    border-width: 2px;
    border-style: solid;
}

#gameArea .top-block .other-player::before,
#gameArea .lower-block::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;

    transition: .5s ease-in-out;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 1;
}

#gameArea .top-block .other-player.active::before,
#gameArea .lower-block.active::before{
    opacity: 0;
    pointer-events: none;
}

.top-block .other-player .baby-info{
    display: grid;
    align-content: space-around;
    height: 100%;
}

.top-block .other-player .baby-info h5{
    text-align: center;
    margin: 0 auto;

    text-wrap: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.top-block .other-player .babies-container{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    /* gap: 5px; */
    align-content: space-between;
    justify-content: space-between;

    font-size: 10px;

    overflow: hidden;
}

.top-block .other-player .babies-container .baby-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    position: relative;

    overflow: hidden;
}

.top-block .other-player .babies-container .baby-item span{
    /* margin-left: 2.5px; */
    font-weight: bold;
    font-size: 1.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-block .other-player .babies-container .baby-item img{
    border-radius: 3px;
    opacity: .5;

    height: 100%;
    margin: auto;
}

.top-block .other-player .king-container{
    display: grid;
    grid-template-columns: 52.5% 40%;
    align-items: center;
    justify-content: space-between;
}

.top-block .other-player .king-container .king-img{
    /* width: 55%; */
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

/* ---------------------------------------------------------------- */

#gameArea .top-block .public-area{
    display: grid;
    grid-template-rows: 10% 45% 40%;
    align-content: space-between;

    position: relative;
}

#gameArea .top-block .public-area > *{
    width: 100%;
    margin: auto;
}


#gameArea .top-block .public-area .options{
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: space-around;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#gameArea .top-block .public-area .options i{
    font-size: 1em;
    color: DimGray;
}

#gameArea .top-block .public-area .trash-block{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    
    box-sizing: border-box;
    
    margin: auto;

    
    border: 1px solid black;
}

#gameArea .top-block .public-area .trash-block .trash-label{
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-sizing: border-box; */
    margin:  0;
    /* height: 100%; */
    width: 100%;
    position: relative;
    /* padding: 5px 0; */
    background-color: dimgray;
    color: white;

    font-size: .8em;
    
    box-sizing: border-box;
    border-bottom: 1px solid dimgray;
}

#gameArea .top-block .public-area .trash-block .trash-area{
    margin: 0 auto;
    width: 100%;
    display: block;
    height: auto;
    box-sizing: border-box;
    
    position: relative;
    overflow: hidden;
    
}

#gameArea .top-block .public-area .trash-block .trash-area .gameCard{
    width: var(--trash-card-width) !important;
    position: absolute !important;
    z-index: 0;
}

#gameArea .top-block .public-area .draw-pile{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

#gameArea .top-block .public-area .draw-pile .gameCard{
    overflow: hidden;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

#gameArea .top-block .public-area .draw-pile .gameCard img{
    max-width: unset;
    max-height: unset;

    width: 100%;
    height: 100%;
    opacity: .75;

    z-index: 5;
}

#gameArea .top-block .public-area .draw-pile .gameCard span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 4em;

    pointer-events: none;
    
    z-index: 10;
}

/* ---------------------------------------------------------------- */
.lower-block{
    position: relative;
    display: grid;
    grid-template-rows: 40% 55%;
    overflow: hidden;
    padding: 10px;

    align-content: space-between;

    border-width: 3px;
    border-style: solid;
}

.lower-block .upper-part{
    display: grid;
    grid-template-columns: 50% 45%;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    line-height: 1;
}

.lower-block .upper-part h5{
    
    text-align: center;
    margin: auto auto 15px;
}

.lower-block .upper-part .babies-container{
    display: grid;
    grid-template-columns: repeat(4,22.5%);
    justify-content: space-around;

    /* height: 100%; */
    text-align: center;
    font-size: .9em;
}

.lower-block .upper-part .player-info{
    display: grid;
    align-content: space-around;
}

.lower-block .upper-part .player-info .king-container{
    display: grid;
    /* grid-template-columns: repeat(2, 47.5%); */
    grid-template-columns: 52.5% 40%;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 5px; */
}

.lower-block .upper-part .player-info .king-container .king-img{
    /* width: 90%; */
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.lower-block .upper-part .player-info .king-container .king-food-container img{
    display: flex;
    margin: 5px auto;
}

.lower-block .lower-part{
    position: relative;
    /* display: block; */
    width: 100%;

    box-sizing: border-box;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-block .lower-part .hands-container{
    position: relative;
    height: 100%;
    width: 100%;

    margin: auto;
    /* width: 100%;
    background-color: crimson; */
}

.lower-block .lower-part .hands-container .gameCard{
    position: absolute !important;
}

/* ---------------------------------------------------------------- */

.drawing-card-container{
    position: fixed;
}

.drawing-card-container .gameCard{
    position: absolute;
    box-sizing: border-box;
    backface-visibility: hidden;
    border: unsets;

    width: 100%;
    /* height: 100%; */

    transform-style: preserve-3d;
    transition: all .8s ease-in-out;
}

.movingCard{
    position: fixed;
    transition: all .3s ease-in-out;
}